.infocard {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #a4a4a454;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 315px;
  // max-width: 500px;
  min-height: 405px;
  // max-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  .infocard__wrapper {
    padding: 10px;
    width: 100%;
    flex-grow: 1;
    .div-navtabs {
      height: 100%;
      display: flex;
      flex-direction: column;
      .nav-tabs {
        border: none;
      }
      .nav-link.active {
        background-color: #a4a4a454;
        color: #5d1a05;
      }
      .nav-link {
        color: #1c1c1c;
        margin: 0;
        border: none;
        transition: all 550ms ease-out;
        &:hover:not(.active) {
          background-color: #88422d7a;
          cursor: pointer;
          transition: all 350ms ease-out;
        }
      }
      .tab-content {
        flex-grow: 1;
        border-radius: 3px;
        background-color: #a4a4a454;
        padding: 10px;
        .tab-pane {
          max-height: 370px;
          height: 100%;
          width: 100%;
          overflow: auto;
        }
      }
    }
  }
  .infocard__title {
    span {
      font-weight: bold;
    }
  }
}

.infocard__img {
  height: 102px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #78858f20;
}

.infocard__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.infocard__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 310px);
  background-image: url("../../../assets/lady-avatar.png");
  background-position: center;
  background-size: contain;
  opacity: 0.7;
  border: 15px solid #a4a4a4;
  //   img {
  //     height: 100px;
  //     width: 100px;

  //     border-radius: 50%;
  //   }
}

.infocard__avatar svg {
  width: 100px;
  height: 100px;
}

.infocard__title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;
  color: var(--main-color);
}

.infocard__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.infocard__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.infocard__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.infocard__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.infocard__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}
