.div-contacts {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
}
.div-contacts div {
  flex: 0 1 40%;
  margin: 5px;
  padding: 10px 2px;
  box-sizing: border-box;
  background-color: rgba(156, 156, 156, 0.2470588235);
  transition: all 550ms ease-out;
}
.div-contacts div p {
  padding: 0;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
}
.div-contacts div .p-contacts-title {
  font-size: 1.13em;
}
.div-contacts div:hover {
  background-color: rgba(152, 68, 43, 0.1882352941);
  transition: all 350ms ease-out;
}
.div-contacts div:hover .p-contacts-title {
  color: #491809;
  cursor: pointer;
}